<form (submit)="onSubmitClient()">
  <div class="form-group">
    <label for="email">E-mail</label>
    <input type="text" id="email" name="email" class="form-control" [(ngModel)]="form.email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="text" id="password" name="password" class="form-control" [(ngModel)]="form.password">
  </div>
  <div class="form-group">
    <label for="name">Username</label>
    <input type="name" id="name" name="name" class="form-control" [(ngModel)]="form.name">
  </div>
  <!--<div class="form-group">
    <label for="genre">Géneros Preferidos</label>
    <input type="tel" id="genre" name="genre" class="form-control" >
  </div>-->
  <button type="submit" class="btn btn-primary">Registar</button>
  <button class="btn btn-primary" (click)="goBack(); hideRegistrationForm()">Voltar</button>
  <div *ngIf="registrationAttempted">

  <div *ngIf="isSuccessful" class="alert alert-success">
    {{errorMessage}}
  </div>
  <div *ngIf="!isSuccessful" class="alert alert-success">
    {{errorMessage}}
  </div>
</div>
</form>