<div class="search-container">
  <input type="text" [(ngModel)]="searchQuery" (input)="searchMovies()" placeholder="Pesquisar Filmes">
  <div class="dropdown" *ngIf="movies.length > 0">
    <button class="dropbtn" (mouseenter)="openDropdown()">Selecionar Filme</button>
    <div class="dropdown-content" *ngIf="isDropdownOpen" (mouseleave)="closeDropdown()">
      <ul>
        <li *ngFor="let movie of filteredMovies" (click)="selectMovie(movie)">
          {{ movie.title }}
        </li>
        <li *ngIf="!isLoading && filteredMovies.length === 0">
          Nenhum filme encontrado.
        </li>
        <li *ngIf="isLoading">
          Carregando...
        </li>
      </ul>
    </div>
  </div>
</div>


<div *ngIf="selectedMovie">
  <h2>{{ selectedMovie.title }} ,  ({{selectedMovie.year}})</h2>
  <img [src]="selectedMovie.url" alt="Capa do Filme" class="movie-image">
  <p>{{ selectedMovie.weighted_rating }}</p>
  <div class="rating">
    Avalie este filme!
    <span *ngFor="let star of [1, 2, 3, 4, 5]" (click)="rateMovie(star,selectedMovie.id)">
      <i class="fas fa-star" [class.active]="star <= rating"></i>
    </span>
  </div>

Seu Rating: {{rating}} estrelas
</div>
