<button mat-raised-button>Esteticistas</button>
<div>
  <mat-form-field>
    <input matInput placeholder="Pesquisar" [(ngModel)]="searchTerm" (input)="filtrarEsteticistas()">
  </mat-form-field>
</div>
<button mat-raised-button (click)="goBack()">Voltar</button>
<div *ngIf="esteticistasFiltrados && esteticistasFiltrados.length > 0" class="esteticistas-container" >
    <h2>Esteticistas Disponíveis:</h2>
    <div class="esteticistas-items">
      <div *ngFor="let esteticista of esteticistasFiltrados" class="esteticista-item" (click)="redirect(esteticista.name)">
        <div class="esteticista-info">
          
          <div class="favorite-icon" (click)="toggleFavorite(esteticista.name);$event.stopPropagation()">
            <mat-icon *ngIf="isFavorite(esteticista.name); else notFavorite">star</mat-icon>
            <ng-template #notFavorite><mat-icon>star_border</mat-icon></ng-template>
        </div>
          {{ esteticista.name }} - {{ esteticista.address }}
        </div>
        <img
          *ngIf="esteticista.image"
          [src]="'/assets/images/' + esteticista.image"
          alt="Imagem do Esteticista"
          class="esteticista-image"
        >
      </div>
    </div>
  </div>