  <div id="app">
    <nav id="bar" class="navbar navbar-expand navbar-dark bg-dark">
      <a href="home" class="navbar-brand" routerLink="">Movie App</a>
  
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        
     
        
      </ul>
    </nav>

    <router-outlet></router-outlet>
    <div *ngIf="loggedIn">
      <!-- <div class="alert alert-info" *ngIf="isAClient">
        Olá Cliente (App Component)
      </div>
      <div class="alert alert-info" *ngIf="isAEmployee">
         Olá Funcionário (App Component)
      </div> -->
    </div>

  </div>
